body {
  background-color: rgb(34, 34, 34);
}
/* 
--------------------------------------------
Navbar
--------------------------------------------- */
.nav-bar {
  background-color: #1F1F1F;
  padding: 20px;
}
nav a {
    color:white;
    padding:15px 40px 15px 20px;
    text-decoration: none;
    font-family: verdana, sans-serif;
}
nav i {
  padding-left: 7px;
}
nav a:hover {
  color:rgba(255, 217, 0, 0.571);
  background-color: #343434;

}

.content {
  background-color: #121212;
  padding: 20px 20px 0px 20px;
  display: flex;
}
.content .title{
 
  padding-left: 30px;

}
.content h1 {
  color: wheat;
  font-size: 40px;
  padding-top: 180px ;
}
.content  p {
  color: #A8A8A8;
  font-size: 20px;
  text-align: center;

}
/* 
--------------------------------------------
section
--------------------------------------------- */
.Section {
  background-color: #121212;

  display: flex;
  flex-direction: row;
  width: 100%;
}
.Section .card1,.card2,.card3 {
  background-color: #1C1C1C;
  padding: 20px;
  border: 3px solid wheat;
  padding-left:60px;
  padding-right: 60px;
  margin: 30px;
  text-align: center;
  width: 100%;
  color: wheat;
}

.Section .card1 h3,.card2 h3,.card3 h3 {

padding-top: 40px;
}
.Section .card1 p,.card2 p,.card3 p {

  padding-bottom: 60px;
  }
.Section .card1:hover,.card2:hover,.card3:hover {
  background-color: #343434;
  border: 3px solid rgba(255, 217, 0, 0.571);
  color: rgba(255, 217, 0, 0.571);

}
/* 
--------------------------------------------
[Footer]]
--------------------------------------------- */
footer {
  background-color: rgb(16, 14, 14);
  height: 400px;
  color: wheat;
  display: flex;
  font-family: fantasy;
}
.footer1 {

  width: 100%;
  padding: 30px;
}
.footer-separetor {

  width: 100%;
}
.footer2 {

  width: 100%;
  padding: 30px;
}
footer i {
  color: wheat;
  padding-right: 15px;
  font-size: 130%;
  padding-top: 10px;
}
footer i:hover {
  color:rgba(255, 217, 0, 0.571);
}